ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }

li {
    display: inline;
}

h1 {
    color: red;
    text-align: center;
  }

body {
    background-color: papayawhip;
}