ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }

li {
    text-align: left;
}

h1 {
    color: red;
    text-align: center;
  }

body {
    background-color: papayawhip;
}

table, th, td {
  border: 1px solid black;
}